body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f4f4f9;
}

.add-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.add-word-title {
  font-size: 2rem;
  color: #171411;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.add-word-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.add-word-input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.add-word-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-word-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.add-word-success-message {
  font-size: 1.2rem;
  color: #28a745;
  margin-top: 10px;
  text-align: center;
}

.add-word-error-message {
  font-size: 1.2rem;
  color: #dc3545;
  margin-top: 10px;
  text-align: center;
}
