body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f4f4f9;
}

.similar-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px;
}

.similar-words-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.similar-words-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.similar-words-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.similar-words-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.similar-words-button:hover {
  background-color: #0056b3;
}

.similar-words-results h2 {
  background: #fff;
  text-align: center;
  font-size: 1.5rem;
  color: #329bec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-top: 20px;
}

.similar-words-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

.similar-words-table th, .similar-words-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.similar-words-table th {
  background-color: #007bff;
  color: white;
  text-align: center;
}

.similar-words-table td {
  text-align: center;
  color: #333;
}

.similar-words-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.similar-words-table tr:hover {
  background-color: #f1f1f1;
}

.similar-words-error-message {
  color: #dc3545; /* Red for error */
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}
